 body {
    background-color: #feecc0;
    font: raleway, #1f2020;
    img {
      border: 4px solid #556890;
      padding: 0px;
      border-radius: 20px;
    
    }

   

        /* unvisited link */
    a:link {
      color:#1f2020;
      background-color: #556890;
      font-weight: bold;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
    }

    /* visited link */
    a:visited {
      color:#1f2020;
      background-color: #f4b9b8;
      font-weight: bold;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
    }

    /* mouse over link */
    a:hover {
      color:#1f2020;
      background-color: #feecc0;
      font-weight: bold;
      text-decoration: underline;
      padding: 5px;
      border-radius: 5px;
    }

    /* selected link */
    a:active {
      color: #556890;
      background-color: #f4b9b8;
      font-weight: bold;
      text-decoration: underline;
      padding: 5px;
      border-radius: 5px;
    }

    ul {
      background: #556890;
      padding: 20px;
      border-radius: 20px;
    }
    
    ul li {
      background: #f4b9b8;
      color: #1f2020;
      margin: 5px;
      border-radius: 2px;
    }

    ol {
      background: #556890;
      padding: 20px;
      border-radius: 20px;
    }
    
    ol li {
      background: #f4b9b8;
      color: #1f2020;
      margin: 5px;
      border-radius: 2px;
    }

    nav {
      background-color: #bc8180;
    }
  }