 body {
    background-color: #7796CB;
    font: raleway, #1f2020;
    
    img {
      border: 6px solid #576490;
   
      padding: 0px;
      border-radius: 20px;
    
    }

   

        /* unvisited link */
    a:link {
      color:#1f2020;
      background-color: #576490;
      font-weight: bold;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
    }

    /* visited link */
    a:visited {
      color:#1f2020;
      background-color: #D1D2F9;
      font-weight: bold;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
    }

    /* mouse over link */
    a:hover {
      color:#1f2020;
      background-color: #C9CAD9;
      font-weight: bold;
      text-decoration: underline;
      padding: 5px;
      border-radius: 5px;
    }

    /* selected link */
    a:active {
      color: #556890;
      background-color: #D1D2F9;
      font-weight: bold;
      text-decoration: underline;
      padding: 5px;
      border-radius: 5px;
    }

    ul {
      background: #576490;
      padding: 20px;
      border-radius: 20px;
    }
    
    ul li {
      background: #D1D2F9;
      color: #1f2020;
      margin: 5px;
      border-radius: 2px;
    }

    ol {
      background: #576490;
      padding: 20px;
      border-radius: 20px;
    }
    
    ol li {
      background: #D1D2F9;
      color: #1f2020;
      margin: 5px;
      border-radius: 2px;
    }

    nav {
      background-color: #A3BCF9;
      padding: 10px;
   
   
    }

    footer {
      background-color: #C9CAD9;
      padding: 10px

    
    }

    header {
      background-color: #C9CAD9;
      padding: 10px
    
    
    }

    main {
      background-color: #C9CAD9;
      padding: 10px
    
    
    }

      .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    padding: 0px;
    }

    .container div {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    }

    .item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    }

      .container2 {
    display: grid;
    grid-template-columns: 1/2fr 1/2fr;
    grid-template-rows: auto ;
    padding: 0px;
    }

      .container2 div {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    background: #C9CAD9;
    }

    .item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    }

    .item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    }

      .container3 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    padding: 0px;
    }

      .container3 div {
    text-align: center;
    padding: 10px;
    font-size: 15px;
    background: #C9CAD9;
    }


  }
